body{
    margin: 0;
    height: 100vh;
    cursor: url('logo.svg'), auto;
    background-color: #1F1F1F;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-areas: 
            "header header header"
            "left content right"
            "footer footer footer";
            grid-template-rows: 60px 1fr 150px;
            grid-template-columns: 20% 1fr 15%;
}

header{
    grid-area: header;
    width: 100%;
}

#left{
    grid-area: left;
} 

#cont{
    grid-area: content;
}

#right{
    grid-area: right;
}

footer{
    grid-area: footer;
}

#menu{
    padding: 0 55px 55px 65px;
    position: fixed;
}

.header{
    position: fixed;
    padding: 55px 55px 55px 55px;
}

#fr{
    font-size: 90px;
    padding: 120px 5px 20px 300px;
}

#mid{
    text-align: center;
    font-size: 18px;
}

#txt{
    font-size: 90px;
    z-index: 2;
    top: 0;
}

#sc{
    font-size: 40px;
}

#aa{
    z-index: 1;
}
.img1, .layer1{
    z-index:2;
    position: absolute;
    float: left;
}
.img2, .layer2{
    z-index: .8;
    position: relative;
    /* float: right; */
     
 }

 .layer1{
    margin-top: 200px; 
}

.bann_text{
    width: 400px;
}
.bann_text h1{
    font-size: 80px;
}
.bann_text_big p{
    width: 500px;
}